<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
	  	<meta charset="UTF-8"></meta>
		<title>Admin Panel</title>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" 
		  	  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"></link>
	    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jq-2.2.4/dt-1.10.13/datatables.min.css"></link>
	    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.4.4/jquery.contextMenu.css"></link>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.1.1/jquery-confirm.min.css"></link>
		<link rel="stylesheet" href="styles/tabs.css"></link>	
	</head>
	
	<body>
		<div th:replace="fragments/header :: header">&nbsp;</div>
		
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
		 		<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Change Password</h4>
					</div>
					<div class="modal-body">
						<form class="form" action="#" th:method="post">
							<div class="form-group row">
							    <label for="passwd" class="col-sm-2 col-form-label">New Password:</label>
							    <div class="col-sm-10">
							    	<input id="passwd" class="form-control" type="password" th:autofocus="true"></input>
							    </div>
							</div>
							<div class="form-group row">
							    <label for="confirm" class="col-sm-2 col-form-label">Confirm Password:</label>
							    <div class="col-sm-10">
							    	<input id="confirm" class="form-control" type="password"></input>
							    </div>
							</div>
							<div id="error-modal" class="alert alert-danger hidden" role="alert">
		        				<p id="modal-error" class="text-center"></p>
		        			</div>
						</form>
					</div>
					<div class="modal-footer">
						<button id="close-btn" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button id="save-new-pass-btn" type="button" class="btn btn-primary">Save</button>
					</div>
				</div>
			</div>
		</div>

		<div id="tabs" class="container">	
			<ul class="nav nav-tabs">
				<li id="l1" class="active">
		        	<a href="#1" data-toggle="tab" th:accesskey="1">Races</a>
				</li>
				<li id="l2" >
					<a href="#2" data-toggle="tab" th:accesskey="2">Add Race</a>
				</li>
				<li id="l3" >
					<a href="#3" data-toggle="tab" th:accesskey="3">Add User</a>
				</li>
				<li id="l4" >
					<a href="#4" data-toggle="tab" th:accesskey="4">Users</a>
				</li>
			</ul>
	
			<div class="tab-content tab-small">				
				<div class="tab-pane active table-tab" id="1">
        		<a id="modal-btn" href="#myModal" role="button" class="btn" data-toggle="modal"></a>
        			<div class="table-small">
	        			<div th:if="${successSettleMessage}" class="alert alert-success" role="alert">
			        		<p th:text="${successSettleMessage}" class="text-center"></p>
	        			</div>			        			
						<table id="race-table" class="table table-striped table-hover table-scroll">
							<thead>
								<tr>
									<th>Track</th>
									<th>Time</th>
									<th>Date</th>
									<th>Runners</th>
									<th>Places</th>
									<th>E/W Terms</th>
									<th>Settled</th>
								</tr>
							</thead>
							<tbody class="hand-cursor">
								<div th:each="race: ${allRaces}">
									<tr th:href="@{/races/} + ${race.raceID}" class="table-row clickable">
										<td th:text="${race.track}"></td>
										<td th:text="${#strings.substring(race.time, 0, 5)}"></td>
										<td th:text="${#dates.format(race.date, 'dd-MM-yyyy')}"></td>
										<td th:text="${race.runners}"></td>
										<td th:text="${race.places}"></td>
										<td th:text="${race.terms}"></td>
										<td class="context-menu" th:switch="${race.settled}">
											<span th:case="true">Yes</span>
											<span th:case="false">No</span>
										</td>
									</tr>
								</div>
							</tbody>
						</table>
					</div>
				</div>				
				
				<div class="tab-pane" id="2">
	        		<div class="container">
	        			<div class="center-content">
	        				<div th:if="${successRaceMessage}" class="alert alert-success" role="alert">
			        			<p th:text="${successRaceMessage}" class="text-center"></p>
			        		</div>
			        		<div th:if="${errorRaceMessage}" class="alert alert-danger" role="alert">
			        			<p th:text="${errorRaceMessage}" class="text-center"></p>
			        		</div>
			        		<div th:if="${blankName}" class="alert alert-danger" role="alert">
			        			<p th:text="${blankName}" class="text-center"></p>
			        		</div>
		        			<p class="lead">Add a new race</p>
		        			<form class="form" th:action="@{/races}" th:method="post" th:object="${tempRace}">
		        				<div class="form-group row">
		        					<label for="track" class="col-sm-2 col-form-label">Track:</label>
		        					<div class="col-sm-10">
		        						<input class="form-control" th:name="track" th:id="track" th:field="*{track}" th:autofocus="true"></input>
		        					</div>
		        				</div>
		        				<div class="form-group row">
		        					<label for="time" class="col-sm-2 col-form-label">Time:</label>
		        					<div class="col-sm-10">
		        						<input type="time" class="form-control" th:name="time" th:id="time" th:field="*{time}"></input>
		        					</div>
		        				</div>
		        				<div class="form-group row">
		        					<label for="date" class="col-sm-2 col-form-label">Date:</label>
		        					<div class="col-sm-10">
		        						<input type="date" class="form-control" th:name="date" th:id="date" th:field="*{date}"></input>
		        					</div>
		        				</div>
		        				<div class="form-group row">
		        					<label for="runners" class="col-sm-2 col-form-label">Runners:</label>
		        					<div class="col-sm-10">
		        						<input type="number" class="form-control" th:name="runners" th:id="runners" th:field="*{runners}" min="1"></input>
		        					</div>
		        				</div>		        				
		        				<button th:id="addRace" class="btn btn-primary pull-right">Add</button>
		        			</form>
	        			</div>
	        		</div>
				</div>				
				
	        	<div class="tab-pane" id="3">
	        		<div class="container">
	        			<div class="center-content">
							<div th:if="${successMessage}" class="alert alert-success" role="alert">
		        				<p th:text="${successMessage}" class="text-center"></p>
		        			</div>
		        			<div th:if="${addUserErrorMessage}" class="alert alert-danger" role="alert">
		        				<p th:text="${addUserErrorMessage}" class="text-center"></p>
		        			</div>
		        			<p class="lead">Add a user</p>
		        			<form class="form" th:action="@{/users}" th:method="post" th:object="${user}">
		        				<div class="form-group row">
		        					<label for="username" class="col-sm-2 col-form-label">Username:</label>
		        					<div class="col-sm-10">
		        						<input class="form-control" th:name="user" th:id="user" th:field="*{username}" th:autofocus="true"></input>
		        					</div>
		        				</div>
		        				<div class="form-group row">
		        					<label for="password" class="col-sm-2 col-form-label">Password:</label>
		        					<div class="col-sm-10">
		        						<input type="password" class="form-control" th:name="password" th:id="password" th:field="*{password}"></input>
		        					</div>
		        				</div>
		        				<div class="checkbox" id="check-admin">
	    							<label>
		      							<input type="checkbox" th:name="admin" th:field="*{admin}">Admin User:</input>
	    							</label>	
	  							</div>
		        				<button id="addUser" class="btn btn-primary pull-right">Add</button>
		        			</form>
	        			</div>
	        		</div>
				</div>
				
				<div class="tab-pane" id="4">
        			<div th:if="${successDeleteMessage}" class="alert alert-success" role="alert">
        				<p th:text="${successDeleteMessage}" class="text-center"></p>
        			</div>
        			<div th:if="${errorDeleteMessage}" class="alert alert-danger" role="alert">
        				<p th:text="${errorDeleteMessage}" class="text-center"></p>
        			</div>
        			<div class="table-small">
						<table id="user-table" class="table table-striped table-hover">
							<thead>
								<tr>
									<th>Username</th>
									<th>User Type</th>									
								</tr>
							</thead>
							<tbody class="hand-cursor">
								<div th:each="user: ${allUsers}">
									<tr th:object="${user}">
										<td class="context-menu" th:text="*{username}"></td>
										<td class="context-menu" th:switch="*{admin}">
											<span th:case="true">Administrator</span>
											<span th:case="false">User</span>
										</td>
									</tr>
								</div>
							</tbody>
						</table>
					</div>
				</div>				
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs/jq-2.2.4/dt-1.10.13/datatables.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.1.1/jquery-confirm.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.4.4/jquery.contextMenu.js"></script>
		<script src="/scripts/table.js"></script>
		<script src="/scripts/admin.js"></script>
	</body>
</html>