<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
		<link rel="stylesheet" type="text/css" href="/styles/main.css"></link>
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" 
			  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"></link>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.1.1/jquery-confirm.min.css"></link>
		<title>Edit Bet Details</title>
	</head>
	<body>
	
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="content">
		<div class="container">
			<div class="row">				
				<!-- Panel on left of GUI -->
				<div class="col-sm-4 img-rounded" id="left-box">
					<img id="bet-img" class="bet-img" th:if="${imgSrc}" th:src="${imgSrc}"></img>
					<img id="bet-placeholder" class="bet-img" th:unless="${imgSrc}" src="/images/default-placeholder.png"></img>													
				</div>
				
				<!-- Panel on right of GUI -->
				<div class="col-sm-8">
					<div id="right-box">
						<!-- Right panel -->
						<div id="left-box" class="row img-rounded">							
							<div class="fields">
								<form class="form" th:action="@{/bets/} + ${bet.betID}" th:method="post">
									<div class="form-group row">
										<label for="selection" class="col-sm-2 col-form-label">Status:</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" th:name="status" th:id="status" th:value="${bet.status}" th:disabled="true"></input>								
										</div>
								  	</div>
									<div class="form-group row">
									    <label for="betID" class="col-sm-2 col-form-label">Bet Number:</label>
									    <div class="col-sm-10">
									    	<input class="form-control" th:name="betID" th:id="betID" th:value="${bet.betID}" th:field="*{bet.betID}" th:disabled="true"></input>
									    </div>
									</div>
									<div class="form-group row">
									    <label for="timePlaced" class="col-sm-2 col-form-label">Time Placed:</label>
									    <div class="col-sm-10">
									    	<input class="form-control" th:name="timePlaced" th:id="timePlaced" th:value="${bet.timePlaced}" th:disabled="true"></input>
									    </div>
									</div>
									<div class="form-group row">
									    <label for="stake" class="col-sm-2 col-form-label">Stake:</label>
									    <div class="col-sm-10">
									    	<input th:if="${bet.paid} OR ${bet.onlineBet}" class="form-control" th:name="stake" th:id="stake" th:value="${bet.stake}" th:field="*{bet.stake}" th:disabled="true"></input>
									    	<input th:unless="${bet.paid} OR ${bet.onlineBet}" class="form-control" th:name="stake" th:id="stake" th:value="${bet.stake}" th:field="*{bet.stake}"></input>
									    </div>
									</div>
									<div class="form-group row">
									    <label for="race" class="col-sm-2 col-form-label">Race Time: </label>
									    <div class="col-sm-10">
									    	<input th:if="${bet.paid} OR ${bet.onlineBet}" type="time" class="form-control" th:id="time" th:name="time" th:value="${race.time}" th:field="*{race.time}" th:list="timesList" th:disabled="true"></input>
									    	<input th:unless="${bet.paid} OR ${bet.onlineBet}" type="time" class="form-control" th:id="time" th:name="time" th:value="${race.time}" th:field="*{race.time}" th:list="timesList"></input>
									    	<datalist th:id="timesList">
									    		<option th:each="r: ${times}" th:value="${r.time}" th:label="${r.track}"></option>
									    	</datalist>
									    </div>
									</div>
									<div class="form-group row">
									    <label for="track" class="col-sm-2 col-form-label">Track:</label>
									    <div class="col-sm-10">
									    	<input th:if="${bet.paid} OR ${bet.onlineBet}" type="text" class="form-control" th:name="track" th:id="track" th:field="${race.track}" th:value="${race.track}"  th:list="tracksList" th:disabled="true"></input>
									    	<input th:unless="${bet.paid} OR ${bet.onlineBet}" type="text" class="form-control" th:name="track" th:id="track" th:field="${race.track}" th:value="${race.track}"  th:list="tracksList"></input>
									    	<datalist th:id="tracksList">
									    		<option th:each="track: ${tracks}" th:value="${track}" th:text="${track}"></option>
									    	</datalist>
									    </div>
									</div>
									<div class="form-group row">
										<label for="selection" class="col-sm-2 col-form-label">Selection:</label>
										<div class="col-sm-10">
											<input th:if="${bet.paid} OR ${bet.onlineBet}" type="text" class="form-control" th:name="selection" th:id="selection" th:value="${bet.selection}" th:field="*{bet.selection}" th:list="horseList" th:disabled="true"></input>
											<input th:unless="${bet.paid} OR ${bet.onlineBet}" type="text" class="form-control" th:name="selection" th:id="selection" th:value="${bet.selection}" th:field="*{bet.selection}" th:list="horseList"></input>
											<datalist th:id="horseList">
												<option th:each="horse: ${horses}" th:value="${horse.name}" th:text="${horse.name}"></option>
											</datalist>					
										</div>
								  	</div>
								  	<div class="form-group row">
										<label for="odds" class="col-sm-2 col-form-label">Odds:</label>
										<div class="col-sm-10">
											<input th:if="${bet.paid} OR ${bet.onlineBet}" type="text" class="form-control" th:name="odds" th:id="odds" th:value="${bet.odds}" th:field="*{bet.odds}" th:disabled="true"></input>								
											<input th:unless="${bet.paid} OR ${bet.onlineBet}" type="text" class="form-control" th:name="odds" th:id="odds" th:value="${bet.odds}" th:field="*{bet.odds}"></input>								
										</div>
								  	</div>								  	
									<div th:if="${bet.winnings} > 0" class="form-group row">
										<label for="winnings" class="col-sm-2 col-form-label">Winnings:</label>
										<div class="col-sm-10">
										<input type="text" class="form-control" id="winnings" name="winnings" th:value="@{&euro;} + ${#numbers.formatDecimal(bet.winnings, 0, 2)}" th:disabled="true"></input>
										</div>
							  		</div>
								  	<div th:unless="${bet.paid} OR ${bet.onlineBet}" class="checkbox" id="check-ew">
		    							<label>
			      							<input type="checkbox" th:name="eachWay" th:field="${bet.eachWay}">Each-way</input>
		    							</label>	
		  							</div>
		  							<input type="hidden" th:name="image" th:id="image" th:value="${bet.imagePath}" th:field="*{bet.imagePath}"></input>
		  							<input type="hidden" th:name="betTime" th:id="betTime" th:value="${bet.timePlaced}" th:field="*{bet.timePlaced}"></input>
		  							<input type="hidden" th:name="betStatus" th:id="betStatus" th:value="${bet.status}" th:field="*{bet.status}"></input>
		  							<input type="hidden" th:name="raceID" th:id="raceID" th:value="${bet.raceID}" th:field="*{bet.raceID}"></input>
		  							<input type="hidden" th:name="translatedBy" th:id="translatedBy" th:value="${bet.translatedBy}" th:field="*{bet.translatedBy}"></input>
		  							<button th:if="${!bet.paid} AND ${!bet.onlineBet}" type="submit" id="editSubmit" class="btn btn-primary pull-right">Update</button>
		  							<button th:unless="${!bet.paid} AND ${!bet.onlineBet}" type="submit" id="editSubmit" class="btn btn-primary pull-right" th:disabled="true">Update</button>
		  							<button th:if="${!bet.paid} AND ${!bet.onlineBet} AND ${bet.winnings} > 0" type="submit" id="payout-btn" class="btn btn-warning pull-right">Payout</button>								 
								</form>								
							</div>
						</div>
					</div>
				</div>
			</div>
			<p class="pull-right"><a href="javascript:history.go(-1)">Back...</a></p>
		</div>
	</div>
	
	<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
	<script src="/scripts/validation.js"></script>
	<script src="/scripts/translate.js"></script>
	<script src="/scripts/editBet.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.1.1/jquery-confirm.min.js"></script>
	</body>
</html>