<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
	  	<meta charset="UTF-8"></meta>
		<title>Settle Race</title>	    
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" 
		      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"></link>
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.1.1/jquery-confirm.min.css"></link>
		<link rel="stylesheet" type="text/css" href="/styles/main.css"></link>
	</head>
	
	<body>
		<div th:replace="fragments/header :: header">&nbsp;</div>
		<div class="container">			
			<div class="center-content">
				<div class="jumbotron">
					<h1 class="display-3" th:text="${#strings.substring(race.time, 0, 5)}"></h1>
					<p class="lead" th:text="${race.track}"></p>					
					<hr class="my-4"></hr>
					<p th:if="${race.places} > 1" th:text="@{Each Way Terms: } + ${race.terms}"></p>
					<div th:if="${settleMessage}" class="alert alert-danger" role="alert">
        				<p th:text="${settleMessage}" class="text-center"></p>
        			</div>
        			<div th:if="${errorMessage}" class="alert alert-danger" role="alert">
        				<p th:text="${errorMessage}" class="text-center"></p>
        			</div>
        			<!-- dropdowns -->
					<div th:unless="${settleMessage}">
					<!--<p th:unless="${race.places} > 1" class="lead">Select winner</p>
						<p th:if="${race.places} > 1" class="lead">Select winner and places</p> -->
						<form class="form" th:action="@{/races/} + ${race.raceID}" th:method="post" th:object="${wrapper}">
							<div class="form-group">
								<select class="form-control" th:name="winner" th:id="winner" th:field="*{winner.name}">
									<option value="0">Select Winner</option>
									<option th:each="horse: ${horses}" th:value="${horse.name}" th:text="${horse.number} + @{ - } + ${horse.name}"></option>
								</select>
							</div>
							<div class="form-group" th:if="*{race.places} > 1" th:each="placedHorse, stat: ${wrapper.horseList}">
								<select class = "form-control" th:name="@{place} + ${stat.index}" th:id="@{place} + ${stat.index}" th:field="*{horseList[__${stat.index}__].name}">
									<option value="0">Select Place</option>
									<option th:each="horse: ${horses}" th:value="${horse.name}" th:text="${horse.number} + @{ - } + ${horse.name}" ></option>
								</select>
							</div>
							<input type="hidden" th:name="raceID" th:id="raceID" th:field="*{race.raceID}" th:value="${race.raceID}"></input>
							<button id="settle-race-btn" class="btn btn-primary pull-right" type="submit">Submit</button>						
						</form>					
					</div>
					<form id="edit-form" th:if="${settleMessage}" th:action="@{/races/} + ${race.raceID} + @{/resettle}" th:method="post">	
						<button id="edit-settle-btn" class="btn btn-danger pull-right" type="submit">Edit</button>
					</form>
				</div>			
				<p><a href="javascript:history.go(-1)">Back...</a></p>		
			</div>
		</div>
	</body>
	<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.1.1/jquery-confirm.min.js"></script>
	<script src="/scripts/settle.js"></script>
</html>