body {
	padding-top:90px;
}

.left {
	height: 100%;	
}

.right-top p {
	padding-left:20px;
}

.right-top form {
	padding-left:20px;
}

.form-small {
	padding-left:20px;
}

.table-scroll tbody {
    position: absolute;
    overflow-y: scroll;
    height: 70vh;
}

.table-scroll tr {
    width: 95%;
    table-layout: fixed;
    display: inline-table;
}

.table-scroll thead > tr > th {
    border: none;
}

.hand-cursor { 
	cursor: pointer; 
	cursor: hand; 
}

.table-hoverplus>tbody>tr:hover>td {
 	background-color: #eeeeee;
}

#1 .error {
	border-color: #ff0022;
}